/* Reset de estilos padrão */
body, h1, h2, p, ul, li, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para links de navegação */
nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para seções */
section {
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centralizar o conteúdo horizontalmente */
}

/* Estilos para o formulário de contato */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para imagens dentro da seção */
section img {
    display: block; /* Evitar espaços indesejados */
    margin: 20px auto; /* Centralizar a imagem horizontalmente e adicionar espaço acima */
}

/* Estilos de responsividade */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 20px;
    }
}
